
#Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
/bin/
/obj/

# Visiual studio code (contains user-specific settings and configurations for Visual Studio Code.)
.vscode/

# Project specific settings
/Properties/
appsettings.json
appsettings.Development.json

# Sensitive information
/Database/BuildDatabase/BuildScripts/MasterBuildWithDummyData.sh
/Database/Notes.txt
